<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExpectThat.Mocha" version="0.2.2.2" targetFramework="net452" />
  <package id="jQuery" version="2.2.3" targetFramework="net452" />
  <package id="mocha.TypeScript.DefinitelyTyped" version="0.8.4" targetFramework="net452" />
  <package id="Node.js" version="5.3.0" targetFramework="net452" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
</packages>